body {
    font-family: "Poppins";
    background-image: url("https://media.istockphoto.com/vectors/vector-floral-set-flowers-vector-id858123544");
}
/* fuentes personalizadas */
@font-face{
    font-family: "f1";
    src: url(../fonts/calinastiya/Calinastiya\ demo.ttf);
}
@font-face{
    font-family: "f2";
    src: url(../fonts/darling_3/Darling.ttf);
}

@font-face{
    font-family: "f3";
    src: url(../fonts/rockabilly_2/Rockabilly.ttf);
}

@font-face{
    font-family: "f4";
    src: url(../fonts/miroh/Miroh.ttf);
}
.container{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 26%;
    height: 520px;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 20px 8px 10px rgba(0, 0, 0, 0.2);
}
.container H1{
    font-family: "Poppins";
    font-size: 35px;
    color: #000000;
    padding: 0;
    margin: 0px;
}
.container H2{
    font-family: "Poppins";
    font-size: 15px;
    color: #868686;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.container input{
    font-size: 14px;
    width: 60%;
    padding: 8px;
    margin: 8px auto;
    border-radius: 20px;
    border: 1px solid #868686 ;
}
.titulo {
    overflow: hidden;
    margin: 30px auto;
    width: 50%;
    height: 170px;
    text-align: center;
    background-color:#ada0eb;
    border-radius: 50%;
}
.titulo img{position: relative;
    top: 30px;
    width: 84%;
    height: 140px;
}
.btn{
    width: 40%;
    background-color: #6C63FF;
    margin: 10px auto;
    padding: 8px;
    color: white;
    border-radius: 10px;
    border: 1px solid #fff;
}
.btn:hover{
    background-color:#6b63ffad ;
    color:white ;

}
.btn_inter{
    display: flex;
    margin: 0px auto;
}
.btn_inter button{
    background-color: white;
    border: none;
    margin: 4px;
}
button{
    background-color: #fff;
    border: none;
    font-size: 10px;
    color: #868686;

}
/* crear cuenta */
.content_user{
    margin: auto;
    background-color:#6C63FF;
    border-radius: 50%;
    padding-top: 20px;
    width: 50%;
}
.content_user img{
    position: relative;
    bottom: -25px;
}

.content_regist{
    margin:60px auto;
}
/* red social */

.container_red_social{
    box-shadow: 2px 20px 28px 20px rgba(0, 0, 0, 0.2);
    width: 65%;
    margin: -8px auto;
    background-color: rgba(255, 255, 255, 0.918);
    padding: 20px;
}

.container_red_social h1{
    color: #6C63FF;
    font-family: "f2";
    letter-spacing: 4px;
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}
.content_post{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeX5hPSDoZqk9V4jW9nCHLvfyVWuckDXOLPw&usqp=CAU");
    width: 88%;
    padding: 30px 0px;
    margin: -10px auto;
    border: rgb(255, 255, 255) 4px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 50px;
}
textarea{
    border-radius: 30px;
    margin-left: 40px;
    padding: 20px;
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(97, 155, 202);
    
    
}
.post{
    
    display: flex;
    flex-direction: column;
}

.post img{

    background-color: rgba(255, 255, 255, 0.952);
    padding: 15px 15px;
    margin: auto;
    width: 46%;
    border-radius: 80px;
    border: #6C63FF 1px solid;
}
.close{
    margin: auto;
    text-align: center;
}
.close button{
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
}
.post_items{
    background-color: #f4586daf;
    margin: 60px;
    padding: 30px;
    border-radius: 25px;
}
.post_items div{
    font-family: "Poppins";
    margin:20px ;
    border-radius: 10px;
    padding: 16px;
    background-color: #fff;
    color: #868686;
    font-size: 16px;
}
.btn-warning{
    background-color: rgb(119, 109, 247);
    padding: 2px 10px;
    color: #fff;
    border-radius: 6px;

}
.btn-danger{
    background-color: #f5527d;
    padding: 2px 10px;
    color: #fff;
    border-radius: 6px;

}
.textarea_edit{
    width: 80%;
    display: block;
    color: rgb(61, 148, 50);
    border-radius: 10px;
    margin: 2px auto;
    text-align: center;
}
.button_edit{
    display: block;
    padding: 10px 20px;
    background-color: rgb(231, 42, 121);
    color: #fff;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}
.parrafo{
    margin: 0;
}