body{
    background-image: url("https://media.istockphoto.com/vectors/vector-wallpaper-with-a-landscape-a-mountain-range-sunset-vector-id941180710?k=20&m=941180710&s=170667a&w=0&h=42fVmwaqdZ1XH42Y2bAIe6umwl6FYmqWW_TPyyJdP1Y=");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

form{
    width: 50%;
    margin: 95px auto;
    background-color: rgba(202, 202, 202, 0.678);
    padding: 70px;
    border-radius: 20px;
}